body {
    background-color: #222222;
}

.sunglasses { /* cool cool cool */
    display: block;
    margin: 0 auto;
    width: 535px;
    height: 304px;
    margin-top: 100px;
    background: url(/img/sgnormal.png) no-repeat;
    -webkit-transition: background-image 0.2s;
    -moz-transition: background-image 0.2s;
    -o-transition: background-image 0.2s;
    transition: background-image 0.2s;
}

.sunglasses:hover {
    background: url(/img/sgrainbow.png) no-repeat;
}

.name {
    color: #F3F3F3;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: normal;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

.subtitle {
    color: #F3F3F3;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top: -20px;
    text-align: center;
    text-transform: uppercase;
}

.sep {
    width: 107px;
    height: 2px;
    background-color: #F3F3F3;
    margin: 0 auto;
}

.links {
    text-align: center;
    margin-top: 15px;
    list-style: none;
    padding-left: 0px;
}

.link {
    display: inline-block;
}

.link a {
    color: #F3F3F3;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.link a:hover {
    border-bottom: solid 1px;
    border-bottom-width: 2px;
    padding-bottom: 5px;
}

.link:after {
    color: #F3F3F3;
    content: ' | ';
}

.link:last-child:after { /* aww yeahh */
    color: #F3F3F3;
    content: '';
}